body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #53a1f0;
}

#title{
    height: 150px;
    width: 400px;
}

#board{
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #53a1f0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img{
    width: 118px;
    height: 118px;
    border: 1px solid #53a1f0;
    cursor: pointer;
}

/* #success {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
} */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    /* opacity: 0;
    transition: all 0.5s ease-in-out; */
    z-index: 2;
    cursor: pointer;
}

#overlayText {
    position: relative;
    text-wrap: balance;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlayLink {
    position: absolute;
    top: 250px;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#resetBtn {
    position: absolute;
    top: 250px;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#nextLvlBtn {
    position: absolute;
    top: 250px;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#reference {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 160px;
    left: 60%;
}

#reference img{
    border: 5px solid #53a1f0;
}
